[submodule "docs/documentation"]
	path = docs/documentation
	url = https://github.com/uwdesign/documentation.uwdesignshow.com
[submodule "docs/2020/VisualTelephoneTag"]
	path = docs/2020/VisualTelephoneTag
	url = https://github.com/uwdesign/2020-VisualTelephoneTag
